[Unit]
Description=The Great Football Pool Bot
After=network-online.target

[Service]
WorkingDirectory=/opt/tgfp/app
Type=simple
Restart=always
ExecStart=/usr/bin/env -i PYTHONPATH=/opt/tgfp/app /opt/tgfp/app/venv/bin/python /opt/tgfp/app/bots/discord_command.py

[Install]
WantedBy=multi-user.target