# Optional
TZ=US/Pacific
OAUTHLIB_RELAX_TOKEN_SCOPE=True

## Mongo URI is set to the internal mongo URI (docker)
MONGO_URI="mongodb://mongo:27017/tgfp"

## WEB_SECRET_KEY is an example, you should regenerate your own
# Any unique string will do
WEB_SECRET_KEY="46daec9b-6acc-4a13-8b39-ed142cd96b3a"

# API_BASE_URL deprecate if i move off kestra and to an internal scheduler
# set this to the API that Kestra can reach, this is not sustainable for development purposes
API_BASE_URL="http://127.0.0.1:8000/api"
KESTRA_NAMESPACE="tgfp.dev"
KESTRA_HOST="kestra.lan"

## SESSION_SECRET_KEY is used by fastapi session middleware
# Any unique string will do
SESSION_SECRET_KEY="4270e750-ef9a-4848-9969-815a240d1b93"

## The entire discord thing needs documentation
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_REDIRECT_URI="http://127.0.0.1:8000/callback"
DISCORD_GUILD_ID=""
DISCORD_AUTH_TOKEN=""
DISCORD_NAG_BOT_CHANNEL_ID=""
DISCORD_NAG_BOT_WEBHOOK_URL=""

## Possible move to internal emails
LISTMONK_AUTH_HASH=""
LISTMONK_LIST_ID="4"
LISTMONK_API_URL="http://tgfp-listmonk.lan:9011/api/"
ENVIRONMENT=development
APP_VERSION=1.4.8
