{% extends "allpicksbase.j2" -%}
{% set page_title="Everybody's Picks Page" -%}
{% set page_description="The Picks Page - See everybody's picks" -%}

{% macro row_with_style(player_picks, row_number) -%}
    {% if row_number%2 == 0 -%}
        <tr {% if player_picks is not defined %}style="opacity:0.4"{% endif %}>
    {% else -%}
        <tr style="{% if player_picks is not defined %}opacity:0.4{% endif %};border-top:solid 1px #888;border-left:solid 1px #888;background-color:#f0f3c5">
    {% endif -%}
{% endmacro -%}
{% macro team_with_upset_lock_style(team, pick) -%}
    {% set span_class = None -%}
    {% if pick.is_lock -%}
        {% set span_class = "lock" -%}
    {% endif -%}
    {% if pick.is_upset -%}
        {% set span_class = "upset" -%}
    {% endif -%}
    {% if pick.is_lock and pick.is_upset %}
        {% set span_class = "lockupset" -%}
    {% endif %}
    <span {% if span_class -%} class="{{ span_class }}"{% endif -%}>{{ team.long_name }}</span>
{% endmacro -%}
{% macro score(is_pregame, points) %}
    {% if not is_pregame %}
        ({{points}})
    {% endif %}
{% endmacro %}
{% block content -%}
  <table cellspacing=0  width="100%">
    <tr><td>&nbsp;</td>
    {% for game in games -%}
        {% set road_team=game.road_team -%}
        {% set home_team=game.home_team -%}
            {% set opacity=1 %}
            {% if game.is_final %}
                {% if  week_no == week_info.week_no %}
                    {% set opacity=0.5 %}
                    {% set opacity=0.5 %}
                {% else %}
                    {% set opacity=0.7 %}
                {% endif %}
            {% endif %}
            <td style="opacity:{{ opacity }};text-align:center;border-top:solid 1px #888;border-left:solid 1px #888;">
                <img width="36" height="36" align="absmiddle" src="{{ url_for('static', path='images/' + road_team.short_name + '.svg') }}" border="0" alt="helmet">
                {{ score(game.is_pregame, game.road_team_score) }}
                <div>at</div>
                <img width="36" height="36" align="absmiddle" src="{{ url_for('static', path='images/' + home_team.short_name + '.svg') }}" border="0" alt="helmet">
                {{ score(game.is_pregame, game.home_team_score) }}
            </td>
    {% endfor -%}
    </tr>
    {% for player in active_players -%}
        {% set player_picks = player.picks_for_week(week_info=display_week_info) -%}
        {{ row_with_style(player_picks, loop.index) }}
        <td style="overflow:hidden; border-top:solid 1px #888;border-left:solid 1px #888;">
            <div style="white-space: nowrap;float:left;width:50%;">&nbsp;{{ player.nick_name }}</div>
            <div align="right" style="white-space: nowrap;float:right;width:50%;">({{ player.wins_for_week(week_info=display_week_info) }}-{{ player.losses_for_week(week_info=display_week_info) }}) {% if player.bonus_for_week(week_info=display_week_info) > 0 %}+{% endif %}{{ player.bonus_for_week(week_info=display_week_info) }}&nbsp;</div></td>
        {% for game in games -%}
            {% if not player_picks %}
                <td style="color:green;text-align:center;border-top:solid 1px #888;border-left:solid 1px #888;">--no pick--</td>
            {% else %}
                {% set pick = player.pick_for_game_id(game.id) %}
                {% if pick %}
                    {% set team = pick.picked_team %}
                    <td style="text-align:center;border-top:solid 1px #888;border-left:solid 1px #888;">{{ team_with_upset_lock_style(team, pick) }}</td>
                {% else %}
                    <td style="color:green;text-align:center;border-top:solid 1px #888;border-left:solid 1px #888;">--no pick--</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor -%}
 </table>
{% endblock %}