<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>The Great Football Pool - {{ page_title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', path='/mainstyle.css') }}">
    <script type=text/javascript src="{{ url_for('static', path='/jquery.js?' + info.app_version) }}"></script>
    <script src="{{ url_for('static', path='/sorttable.js?' + info.app_version) }}"></script>
    <script src="https://use.fontawesome.com/8c439a9d4e.js"></script>
    <script defer src="https://umami.sturgeon.me/script.js" data-website-id="{{ info.umami_tracking_id }}"></script>
    {# --- Sentry/Bugsink Loader --- #}
    <script
            src="https://browser.sentry-cdn.com/7.120.0/bundle.min.js"
            crossorigin="anonymous"
            data-lazy="no">
    </script>
    <!--suppress JSUnresolvedReference -->
    <script>
        Sentry.init({
            dsn: "{{ info.bugsink_dsn }}",   // Injected from FastAPI settings
            environment: "{{ info.app_env }}",
            release: "{{ info.app_version }}",
            tracesSampleRate: 0.0,              // disable perf by default
            replaysSessionSampleRate: 0.0       // disable replay unless needed
        });
    </script>

<body>
<div id="topBar"></div>
<div id="headerBar">
    <div class="title">The Great Football Pool</div>
    <div class="description">{{ page_description }}</div>
</div>
<div id="mainContent">
    <div id="left">
        {% block content %}
        {% endblock %}
        <hr style="height:1px;">
    </div>
    <div id="right">
        {% if player %}
            <div id="loginStatus" class="subhead">Logged In</div>
            <div id="loginName" class="content">{{ player.full_name }}</div>
        {% else %}
            <div id="loginStatus" class="subhead">Not Logged In</div>
            <div id="loginName" class="content"></div>
        {% endif %}
        <div id="linksTitle" class="subhead">Links</div>
        <div id="links" class="content">
            <a href="{{ url_for('home') }}">Home</a><br/>
            <a href="{{ url_for('profile') }}">My Profile</a><br/>
            <a href="{{ url_for('picks') }}">The Picks Page</a><br/>
            <a href="{{ url_for('allpicks') }}">Everybody's Picks</a><br/>
            <a href="{{ url_for('standings') }}">Standings</a><br/>
            <a href="{{ url_for('rules') }}">Rules</a><br/>
            <a href="{{ url_for('logout') }}">Logout</a><br/>
        </div>
        {% if player and player.email == 'john@sturgeon.me' %}
            <div id="linksTitle" class="subhead">Admin</div>
            <div id="admin_links" class="content">
                <a href="{{ url_for('job_schedule') }}">Schedule</a><br/>
                <a href="{{ url_for('send_welcome') }}">Welcome Email</a><br/>
            <a href="{{ url_for('send_standings') }}">Send Standings</a><br/>
            </div>
            <div id="appVersion" class="content">App Version: {{ info.app_version }}</div>
            <div id="appVersion" class="content">App ENV: {{ info.app_env }}</div>
        {% endif %}
        <div id="currentWeek" class="subhead">Current Week: {{ info.display_week }} </div>
    </div>
    <div id="righterStill"></div>
</div>
</body>
</html>