{% extends "base.j2" %}
{% set page_title="Coming Soon" %}
{% set page_description="Coming Soon - this page is not yet ready for primetime" %}
{% block content %}
    <br><br><font class="date" style="font-weight:bold">NOTICE: 2025-09-03</font>
    <p>
        OK, so I know you came here looking for something really cool, but I had to re-write a bunch of stuff, and I
        haven't yet put this page back into action just yet. Don't worry though, it's coming soon!
    </p>
{% endblock %}