{% extends "base.j2" %}
{% set page_title="Home Page" %}
{% set page_description="Home Page - Starting point for the players of The Great Football Pool" %}
{% block content %}
    <br><br><font class="date" style="font-weight:bold">Welcome</font>
    <a name="85909837">&nbsp;</a>
    <p>
        Hello All, and welcome back to The Great Football Pool for the 2025 season. This is the 32nd season! It's also
        the 29th season that it has been online.
    </p>
    <p>
        Last season Ian Reinacher won... well. Killed it is more like it, he had a double-digit lead over the entire
        field for most of the second half of the season and never let up.
    </p>
    <p>
        Not a lot of changes to the football pool this year. As usual, the Discord Channel is THE PLACE TO GO for all
        your updates and chatting needs.
    </p>
    <p>
        <a href="https://discord.gg/f25zmnF">Discord Channel is live (click to join in the trash talk).</a>
    </p>
{% endblock %}