{% extends "base.j2" %}
{% set page_title="Home Page" %}
{% set page_description="Home Page - Starting point for the players of The Great Football Pool" %}
{% block content %}
    <br><br><font class="date" style="font-weight:bold">Welcome</font>
    <a name="85909837">&nbsp;</a>
    <p>
    Hello All, and welcome back to The Great Football Pool for the 2023-2024 season.  This is the 30th season (Happy Anniversary to us?)!  It's also the 27th season that it has been on line.
    </p>
    <p>
    Last season Will Kahl absolutely killed it winning b{##}y 14 games (that might be a record).
    </p>
    <p>
        Not a lot of changes to the football pool at the beginning, but I'm hoping that this year brings a few fun twists (stay tuned).
As usual, the Discord Channel is THE PLACE TO GO for all your updates and chatting needs.
    </p>
    <p>
    <a href="https://discord.gg/f25zmnF">Discord Channel is live (click to join).</a>
    </p>
{% endblock %}